<h3>Todos</h3>
<form class="form-inline" (ngSubmit)="onSubmit()">
    <input [(ngModel)]="taskModel" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Task Test" name="taskText"/>
    <button class="btn">Add</button>
</form>
<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>Task</th>
            <th>Completed</th>
        </tr>
    </thead>
    <tbody>
        <tr todo *ngFor="let $todo of todos | async"
            [task]="$todo.task"
            [completed]="$todo.completed"
            (click)="toggleTodo($todo)"></tr>
    </tbody>
</table>